<div class="relative z-[105] text-center flex justify-center items-center bg-[#FFD953] text-[#020a19] pb-[5px] after:content-[&#x27;&#x27;] after:absolute after:w-[70px] after:right-0 after:top-0 after:z-[-1] after:pointer-events-none after:h-[calc(100%_-_5px)] after:block notificationBar_notify-promo-container__VQf8S" style="background-image:url(assets/img/hexcon24/notificatio-promo-pattern.svg)">
    <span class="absolute h-[5px] w-full block bottom-0 left-0 bg-no-repeat bg-cover bg-left hover:bg-right tranisiton-[background_position] duration-[1s] ease-out notificationBar_line__mdYR0" style="background-image:url(assets/img/notification-banner/short-line.svg)"></span>
    <div class="w-[88%] mx-auto md:max-w-[1300px]">
        <a target="_self" class="w-full flex flex-wrap justify-center mx-[-10px] [background-image:_linear-gradient(90deg,_rgba(255,_217,_83,_0)_0%,_rgba(255,_217,_83,_0.75)_13%,_rgba(255,_217,_83,_0.75)_50%,_rgba(255,_217,_83,_0.75)_88%,_rgba(255,_217,_83,_0)_100%)] lg:w-[unset] py-[15px] notificationBar_link-animate__7ffY5" href="https://www.hexnode.com/events/hexcon24/">
            <div class="relative hidden px-[10px] lg:inline-block min-w-[143px] max-w-[143px] w-full">
                <img alt="HexCon24" fetchpriority="high" width="123" height="25" decoding="async" data-nimg="1" class="w-full h-auto " style="color:transparent" src="assets/img/events/hexcon24/hexcon24-logo.svg"/>
            </div>
            <div class="px-[10px] max-w-[320px] w-full mr-auto xs:max-w-[calc(100%_-_50px)] xs:mr-[unset] lg:max-w-fit">
                <p class="text-[14px] text-[#020A19] leading-[22px] font-normal lg:text-[16px] lg:leading-[24px] lg:pt-[5px]">
                    <span class="mr-[10px] lg:mr-[20px] [&amp;_span]:whitespace-nowrap">HexCon is coming to NYC. Grab your tickets before they sell out!</span>
                    <span class="whitespace-nowrap font-bold group uppercase">
                        REGISTER NOW
                        <!-- -->
                        <img alt="arrow" fetchpriority="high" width="7" height="11" decoding="async" data-nimg="1" class="ml-[8px] inline-block relative top-[-1px] group-hover:translate-x-[5px] transition-[transform] duration-[0.5s] ease-out" style="color:transparent" src="assets/img/pricing/v2/icons/right-angle.svg"/>
                    </span>
                </p>
            </div>
        </a>
    </div>
    <button class="absolute translate-y-[-50%] top-[50%] right-[10px] lg:right-[20px] w-[30px] h-[30px] flex justify-center items-center [background-image:_linear-gradient(90deg,_rgba(255,_217,_83,_0)_0%,_rgba(255,_217,_83,_0.75)_13%,_rgba(255,_217,_83,_0.75)_50%,_rgba(255,_217,_83,_0.75)_88%,_rgba(255,_217,_83,_0.75)_100%)] [&amp;_*]:pointer-events-none notificationBar_notification-promo-wrapper__close-icon__Ih5nN">
        <svg xmlns="http://www.w3.org/2000/svg" id="close_Icon" data-name="close Icon" width="30" height="30" viewBox="0 0 30 30">
            <rect id="Rectangle_82" data-name="Rectangle 82" width="30" height="30" fill="none"></rect>
            <path id="Path_17" data-name="Path 17" d="M11.97,12.732,6.437,7.188.9,12.72a.524.524,0,0,1-.743,0,.53.53,0,0,1,0-.747L5.687,6.437.162.9A.527.527,0,0,1,.908.156l5.53,5.53L11.97.155a.525.525,0,0,1,.744,0,.542.542,0,0,1,.013.757L7.189,6.438l5.537,5.537a.524.524,0,0,1,0,.743.556.556,0,0,1-.392.161.515.515,0,0,1-.364-.147Z" transform="translate(21.439 8.561) rotate(90)" fill="#4c4c4c" class="notification-promo-wrapper__close-icon__path"></path>
        </svg>
    </button>
</div>